.search-bar {
    border-radius: 0px;      
}

input {
    border: none;
    padding-left: 10px;
    background-color: rgb(247, 242, 242);    
}

@media screen and (max-width: 576px){
    .search-bar {
        width: 75% !important;
    }
}
